<div class="header">
  <h3 class="text-muted black-background text-magenta" ng-style="randomBackground">C H A T A R I N O</h3>
</div>

<h4 class="black-background text-magenta" ng-style="randomBackground">Latest Chats:</h4>
<div class="jumbotron">



		<input ng-model="newUser" type="text" placeholder="Username">
		<input ng-model="newMessage" type="text" placeholder="Hello!">
		<button class="btn btn-primary" ng-click="addMessage(newMessage, newUser)">Submit</button>

	

	<div class="messages"ng-repeat="message in messages track by $index"><div class><img class="cat-avatar" src="https://tse3.mm.bing.net/th?id=OIP.LxxiUsxsInH-9JUyjzaYugDhEf&pid=Api" alt="" srcset="">A Cat named <span class="font-heavy">{{ message.user }}</span> said <span class="font-heavy">{{ message.message }}</span> at <span class="font-heavy">{{ message.time | date:"shortTime"}}</span></div>
</div> 
</div>
